<div class="pa3 pa4-ns mv4 tc">
    <h1 class="f3 f2-l fw8 lh-title"
      style="color:#2196f3;">
      Thank you!
    </h1>         
    <p class="f5 f4-l fw5 b dib-m lh-copy"
      style="color:#000000;">
      Be sure to check your email. We will be in touch with you soon.<br><br>
    </p>
     <a href="http://www.mikeauto.net/view-inventory.aspx"> <button 
        style="color:#ffffff; background-color:#2196f3;"
        class="relative button-reset pv3 tc ba b--transparent bg-animate pointer w-100 br2 fw8">
        Click here to check out our inventory
      </button>
    </a>
      </div>
