
<div class="container alignit">
    <h1 class="f3 f2-l fw8 lh-title"
      style="color:#000000;">
      Bad Credit? No Credit? We can help.
    </h1>         
    <p class="f5 f4-l fw5 b dib-m lh-copy"
      style="color:#000000;">
      Do you have bad credit?<br><br>GREAT! We can help.<br><br>Do you have <b>no</b> credit?<br>
      <br>GREAT! We can still help.<br><br>
      </p>
      <img class="fit-image" src=
      "https://firebasestorage.googleapis.com/v0/b/phonesites-prod.appspot.com/o/images%2FUciHm7wtgKavpiCm4FP9IAMjRi83%2F1533747507258*20180808_124240-01*jpeg?alt=media&token=16fa531d-c0f3-4b52-bf4e-ced3083c8f44"><br>
      <p>
      <br>It is my job to make sure you leave with a car you <b>love</b>. There is nothing standing 
      in your way of owning a car that you can afford, but more importantly be <b>proud</b> of. 
      <br><br>Whether you're looking for a BMW, Audi, 
      Nissan, or anything in between, I can help.<br>
    </p> 
      <br><img class="fit-image" src="https://firebasestorage.googleapis.com/v0/b/phonesites-prod.appspot.com/o/images%2FUciHm7wtgKavpiCm4FP9IAMjRi83%2F1533747654102*20180801_134529_HDR-01*jpeg?alt=media&token=6ddf6b74-07a5-4ef6-886b-c28c965bdaf4"><br>
      <p>
      <br>We have the cleanest cars at the best prices with everything priced at or near trade-in value.<br>
      <br>
    </p>
      <img class="fit-image" src="https://firebasestorage.googleapis.com/v0/b/phonesites-prod.appspot.com/o/images%2FUciHm7wtgKavpiCm4FP9IAMjRi83%2F1533747729743*20180806_120404_HDR-01*jpeg?alt=media&token=acc065c3-e712-4594-96ae-fc658180e0a2"><br>
      <p>
      <br>By the way, don't <b>just</b> take it from me, but take it from one of my countless customers here, Juan. 
      He had never financed a car before, had minimal credit history,
       and with less than $1,000 down he drove off in a 2015 BMW 528i. 
       <br><br>Don't you want to be like Juan? <br>
      </p>
      <br><img class="fit-image" src="https://firebasestorage.googleapis.com/v0/b/phonesites-prod.appspot.com/o/images%2FUciHm7wtgKavpiCm4FP9IAMjRi83%2F1533735082555*20180725_171721_HDR*jpg?alt=media&token=eda6444e-2e64-480d-987a-f3e2526a3176"><br>

      
      




    <!-- <div class="tc db"> -->
        <img class="fit-image" src="https://firebasestorage.googleapis.com/v0/b/phonesites-prod.appspot.com/o/images%2FUciHm7wtgKavpiCm4FP9IAMjRi83%2F1533748245385*Capture%2B_2018-08-08-13-09-55~2*png?alt=media&token=867cc7e3-f6c3-4a47-b114-0a9209137464" 
        alt="You deserve a better car. Let us guide the way to a new car in your driveway. "/>
    <!-- </div> -->
    <footer ><a routerLink="/moreinfo"><button class="btn-block btn-danger sticky">More Info</button></a></footer>

  </div>
  


<!-- <div class="card">
  <h4 class="card-header">About</h4>
  <div class="card-body">
    <ul>
      <li><b>Author:</b> <a href="https://github.com/DavideViolante" target="_blank">Davide Violante</a></li>
      <li><b>GitHub:</b> <a href="https://github.com/DavideViolante/Angular-Full-Stack" target="_blank">project repository</a></li>
      <li><b>This project uses the MEAN stack:</b></li>
      <ul>
        <li><a href="http://www.mongoosejs.com" target="_blank"><b>M</b>ongoose.js</a> (<a href="https://www.mongodb.com" target="_blank">MongoDB</a>)</li>
        <li><a href="http://www.expressjs.com" target="_blank"><b>E</b>xpress.js</a></li>
        <li><a href="https://www.angular.io" target="_blank"><b>A</b>ngular 2+</a></li>
        <li><a href="https://www.nodejs.org" target="_blank"><b>N</b>ode.js</a></li>
      </ul>
      <li><b>Other tools and technologies used:</b></li>
      <ul>
        <li><a href="https://cli.angular.io" target="_blank">Angular CLI</a></li>
        <li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a></li>
        <li><a href="http://www.fontawesome.io" target="_blank">Font Awesome</a></li>
        <li><a href="https://jwt.io" target="_blank">JSON Web Token</a></li>
        <li><a href="https://github.com/auth0/angular2-jwt/tree/v1.0" target="_blank">Angular 2 JWT</a></li>
        <li><a href="https://github.com/dcodeIO/bcrypt.js" target="_blank">Bcrypt.js</a></li>
      </ul>
    </ul>
  </div>
</div> -->