<div class="card" style="text-align: center">

      <h1
        style="color:#000000;">
        Please enter your information below 
      </h1> 
           
      <p class="alert alert-light">
        Once you've entered your info just tap submit and we will be in touch shortly.<br>
      </p>   
      
        <!-- <re-captcha
        (resolved)="resolved($event)"
        siteKey="6LeGR2kUAAAAAB2i4cNdpmSh8cBZxKd64rNV9zRk"
      ></re-captcha> -->
         <app-inquiry></app-inquiry>
        <!-- <br><br><img src="https://firebasestorage.googleapis.com/v0/b/phonesites-prod.appspot.com/o/images%2FUciHm7wtgKavpiCm4FP9IAMjRi83%2F1533748920500*Capture%2B_2018-08-08-13-19-33~2*png?alt=media&token=ab226939-eefa-4fff-a28c-a3c52ca150b3"><br><br><img src="https://firebasestorage.googleapis.com/v0/b/phonesites-prod.appspot.com/o/images%2FUciHm7wtgKavpiCm4FP9IAMjRi83%2F1533748927428*Capture%2B_2018-08-08-13-20-03~2*png?alt=media&token=71cee56c-3a8f-4300-8d20-72bc7eeff246"> -->
      
</div>